<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Air-Stream Map</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 100%;
        }
    </style>
</head>
<body>
<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPRdAnmEnQG73M35lm3nlg7o6lJFpjZ-g"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
<script>
    $(document).ready(function()
    {
        var openwindow = null;

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            center: {lat: -34.9285, lng: 138.6007}
        });

        $.getJSON('/api/nodes', function(nodes) {
            $.each(nodes, function(index, node)
            {
               var marker = new google.maps.Marker({
                    position: {lat: node.coordinates.lat, lng: node.coordinates.lng},
                    map: map,
                    title: node.name,
                });

                if(node.status == 'Online')
                {
                    if(node.accessPoint) {
                        marker.setIcon('/img/mm_20_blue.png');
                    } else {
                        marker.setIcon('/img/mm_20_green.png');
                    }
                } else if(node.status == 'In Build' || node.status == 'Planning') {
                    marker.setIcon('/img/mm_20_orange.png');
                } else if(node.status == 'Potential') {
                    marker.setIcon('/img/mm_20_gray.png');
                } else {
                    marker.setIcon('/img/mm_20_red.png');
                }

                marker.setMap(map);

                var infowindow = new google.maps.InfoWindow({
                    content: '<center>' + node.name + '<br> <a target="_blank" href="https://members.air-stream.wan/node/shownode/id/'+node.id+'">View on Air-Stream Members</a></center>'
                });

                marker.addListener('click', function() {
                    if(openwindow) openwindow.close();
                    openwindow = infowindow;
                    infowindow.open(map, marker);
                });
            });
        });

        $.getJSON('/api/links', function(links) {

            var greyLine = {
                path: 'M 0,-1 0,1',
                strokeOpacity: 1,
                scale: 2,
                strokeColor: 'grey'
            };

            var yellowLine = {
                path: 'M 0,-1 0,1',
                strokeOpacity: 1,
                scale: 2,
                strokeColor: '#F1C32F'
            };

            $.each(links, function(index, link)
            {
                if(link.source.status != 'Offline' && link.destination.status != 'Offline') {
                    var googleLink = new google.maps.Polyline({
                        path: [
                            {lat: link.source.coordinates.lat, lng: link.source.coordinates.lng},
                            {lat: link.destination.coordinates.lat, lng: link.destination.coordinates.lng}
                        ],
                        geodesic: false,
                        strokeColor: null,
                        icons: null,
                        strokeOpacity: 0,
                    });

                    if(link.source.status == 'Potential' || link.destination.status == 'Potential') {
                        googleLink.icons = [{
                            icon: greyLine,
                            offset: '0',
                            repeat: '10px'
                        }];
                    } if(link.source.status == 'In Build' || link.destination.status == 'In Build' ||
                            link.source.status == 'Planning' || link.destination.status == 'Planning') {
                        googleLink.icons = [{
                            icon: yellowLine,
                            offset: '0',
                            repeat: '10px'
                        }];
                    } else {
                        googleLink.strokeOpacity = 1;

                        if (link.type == 'BB') {
                            googleLink.strokeColor = '#67D768';
                        } else {
                            googleLink.strokeColor = '#095FFB';
                        }
                    }


                    googleLink.setMap(map);
                }
            });
        });
    });
</script>
</body>
</html>
