<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Air-Stream Map</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        #sidebar
        {
            width: 430px;
            float: left;
        }

        #map {
            height: 100%;
            width: calc(100% - 430px);
            float: right;
        }

        #toggle {
            padding-bottom: 20px;
        }

        #logo {
            width: 100%;
            height: auto;
        }

        #toggle {
            padding-top: 20px;
            padding-left: 20px;
        }

        #nodedb
        {
            width: 860px;
            overflow-x: hidden;
        }

        #note
        {
            margin-left: 10px;
            margin-right: 10px;
        }

    </style>
</head>
<body>
<div id="sidebar">
    <img id="logo" src="/img/logo.png" alt="">
    <div id="toggle">
        <input class="node-toggle" type="checkbox" name="online" value="online" checked>
        <label for="online">Online</label>
        <br>
        <input class="node-toggle" type="checkbox" name="in-build" value="inbuild" checked>
        <label for="in-build">In Build</label>
        <br>
        <input class="node-toggle" type="checkbox" name="potential" value="potential">
        <label for="potential">Potential</label>
        <br>
        <input class="node-toggle" type="checkbox" name="offline" value="offline">
        <label for="offline">Offline</label>
    </div>
    <p id="note">Please note you'll need to refresh the page to see changes, and it may take up to 5 minutes to appear, to force display of your changes, click <a href="/clearCache">here.</a></a></p>
    <iframe id="nodedb" src="about:blank" frameborder="0"></iframe>
</div>
<div id="map">

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPRdAnmEnQG73M35lm3nlg7o6lJFpjZ-g"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
